@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contactus{
    height:calc(120vh -50px);
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url('./bureau.png');    
    background-size: cover;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contactus .content{
    max-width: 800px;
    text-align: center;

}
.contactus .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgba(13, 12, 12, 0.437);
}
.contactus .content p{
    font-weight: 300;
    color:rgba(10, 10, 10, 0.316);
}
.containerr{
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;

    margin-top: 30px;

}
.containerr .contactInfo{
    display: flex;
    flex-direction: column;
}
.containerr .contactInfo .box{
    position: relative;
    display: flex;
    padding: 10px 0;

}
.containerr .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 50%;
    font-size: 22px;
}

.containerr .contactInfo .box .text{
  display: flex;
  margin-left: 10px;
  font-size: 5px;
  color: black;
  justify-content: center;
  flex-direction: column;
  font-weight: 300;

}
.containerr .contactInfo .box .text h3{
 font-weight: 500;
 color: #00bcd4;
}
.contactForm{
    width:40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2{
    font-size: 30px;
    color:#333;
    font-weight: 500 ;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea

{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}


